In [9]:
import pandas as pd
from model_pipeline import ModelingPipeline
from metric_names import metrics
from model_names import models

In [2]:
df = pd.read_csv('data.csv')
#data = get_splitted_data(target, path_to_data, test_size)

In [3]:
df = df.assign(
    title_leng = df['Tittel'].apply(lambda s: len(s))
)
df_new = df.drop('Tittel', axis=1, inplace=False)
df_new

,BrukerID,Kjonn,Alder,Jobb,Postkode,FilmID,Rangering,Tidstempel,Action,Adventure,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,title_leng
0,1,M,50.0,16.0,55405-2546,2160,5,976229487.0,1,0,...,0,0,0,0,0,0,0,0,0,37
1,1,M,50.0,16.0,55405-2546,2588,3,976229487.0,1,1,...,0,0,0,0,0,1,0,0,0,20
2,1,M,50.0,16.0,55405-2546,2482,5,976229549.0,0,0,...,0,0,0,0,0,0,1,0,0,25
3,1,M,50.0,16.0,55405-2546,2934,5,976229549.0,1,0,...,0,0,0,0,0,0,0,1,0,24
4,1,M,50.0,16.0,55405-2546,2759,3,976229549.0,0,0,...,0,0,0,0,0,0,0,0,0,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604344,6040,M,25.0,6.0,68131,1153,4,976584194.0,0,0,...,0,0,0,0,0,0,0,0,0,17
604345,6040,M,25.0,6.0,68131,3714,4,976584260.0,1,0,...,0,0,0,0,0,1,1,0,0,22
604346,6040,M,25.0,6.0,68131,2834,5,976584260.0,0,0,...,0,0,0,0,0,0,0,0,0,26
604347,6040,M,25.0,6.0,68131,48,5,976584300.0,0,0,...,0,0,0,0,1,0,1,0,0,23
604348,6040,M,25.0,6.0,68131,3477,4,976584300.0,0,0,...,0,0,0,0,1,0,0,0,0,19

In [7]:
test_size = 0.33
target = 'Rangering'
input_object = df_new
mp = ModelingPipeline()
data = mp.get_splitted_data(target, test_size, input_object)

In [ ]:
model = models['regression']['ensemble']['RandomForestRegressor'](
    n_estimators=10,
    verbose=3,
    n_jobs=-1
)
preprocessor = ColumnTransformer(
            [
                ('encoder', OneHotEncoder(handle_unknown = 'ignore'), cat_cols),
                
                ('normilizer', StandardScaler(), num_cols)
            ]
)
fitted_model = fit_model(model, preprocessor, data):
score = mp.test_fitted_model(fitted_model, data, metric)